<!DOCTYPE html>
<!-- {% extends 'base.html' %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Health Card Application </title>

    <link rel="stylesheet" type="text/css" href="../static/virtual_health_card.css">


</head>

<body>

<nav>
    <!-- <a href = "http://localhost:63342/Django-test/helloworld/templates/virtual_market.html?_ijt=qtgbgpddr61d26b93c9k2ovdhl.html">  HOME </a> <a href ="http://www.google.com">  REGISTER & LOGIN   </a> -->
    <a href="http://localhost:63342/virtual_health_card/templates/virtual_health_card.html?_ijt=rh5s1m6pech7bt2mac6pktqo24"> Home Page </a>
    <a href="http://localhost:63342/virtual_health_card/templates/patient.html?_ijt=fdnvurcn5cse49s97bc5o99gus"> Patient </a>
    <a href="http://localhost:63342/virtual_health_card/templates/doctor.html?_ijt=8qqjkc6gikctbi404se21qljgh"> Doctor </a>
    <a href="http://localhost:63342/virtual_health_card/templates/pharmacist.html?_ijt=8vvnj09m9l7m2grl15a5bp8k2v"> Pharmacist </a>

</nav>

<br>
<br>
<h3> < Virtual Health Card Application > </h3>
<br>

<img src="../static/virtual_health.jpg" class="img_cont" alt="img_cont">

</body>
</html>
