
.user {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 50px ;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

/* Control the left side */
.new {
  left: 0;
  background-color: #e6ffff;

}


.image_user img {
  width: 20px;
  border-radius: 50%;
}

label {
    display: inline-block;
    width:200px;
    text-align: right;
}