borderimg {
    border-image: url(border.png) 30 round;
}

body {
    background-color: cadetblue;
}

.img_cont {
  height: 778px;
  width: 1410px;
  background-position: center;
}

nav a {
    display: inline-block;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;

}


h3 {
    text-align: center;
    color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
    font-size: 50px;
    font-weight: bold;
}

